
@{
    ViewData["Title"] = "Services";
}

<link rel="stylesheet" href="~/css/services.css" asp-append-version="true" />
<section class="services-section">
    <div class="container">
        <h2 style="color:#003d6b " class="fw-bold">Our Services</h2>
        <div class="row">

            <!-- Personal Loan -->
            <div class="col-md-4">
                <div class="service-box">
                    
                    <h3>Personal Loan</h3>
                    <img src="~/images/personal loan.jpeg" alt="Personal Loan">
                    <p>A Personal Loan is an easy and fast solution to meet urgent financial needs such as medical expenses, education, travel, or weddings. It requires minimal documentation and offers.. </p>
                    <h4>Key Features</h4>
                    <ul>
                        <li>No collateral required</li>
                        <li>Instant approval and quick disbursal</li>
                        <li>Multipurpose usage </li>
                        <li>Easy online application process</li>
                    </ul>
                </div>
            </div>

            <!-- Home Loan -->
            <div class="col-md-4">
                <div class="service-box">
                    
                    <h3>Home Loan</h3>
                    <img src="~/images/home loan.jpg" alt="Home Loan">
                    <p>A Home Loan makes it easy for individuals to purchase or renovate their dream home. With low-interest rates and long-term repayment options, it offers financial stability while securing property ownership..</p>
                    
                    <h4>Key Features</h4>
                    <ul>
                        <li>Affordable EMIs with flexible tenure</li>
                        <li>Low-interest rates for first-time buyerss</li>
                        <li>Government subsidies available</li>
                        <li>Minimal documentation required</li>
                    </ul>
                </div>

            </div>

            <!-- Business Loan -->
            <div class="col-md-4">
                <div class="service-box">
                    <h3>Business Loan</h3>
                    <img src="~/images/business loan.jpg" alt="Business Loan">

                    <p>A Business Loan helps entrepreneurs and companies grow by providing necessary financial support. It offers flexible repayment terms and competitive interest rates to suit different business needs. </p>

                    <h4>Key Features</h4>
                    <ul>
                        <li>Quick approval process</li>
                        <li>Low-interest rates for businesses</li>
                        <li>Collateral-free options available</li>
                        <li>Flexible repayment plans</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>

